* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    width: fit-content;
}

p {
    padding: 0.25rem 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #70A9A1;
}

.menu {
    text-align: center;
    background-color: rgb(11, 32, 39);
    padding: 0.6rem 2rem 1.6rem;
}

.menu .list-item {
    display: inline-block;
    padding: 0.6rem 2.3rem;
    background-color: rgba(64, 121, 140, 0.3);
    text-align: center;
    border-radius: 100px 0 100px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .list-item:hover,
.card:hover {
    border: solid #40798C 2px;
    cursor: pointer;
}

.main .selected-text {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 1.6rem;
    margin: 0.3rem;
}

.main .selected-text h1 {
    background-color: rgba(64, 121, 140, 0.3);
    border-radius: 10px 0;
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 0.6rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: aliceblue;
    margin: 10px;
    padding: 2.6rem;
    border-radius: 90px;
    width: 200px;
    text-align: center;
}

.footer {
    background-color: rgb(11, 32, 39);
    text-align: center;
    padding: 1.3rem;
}

.footer li {
    padding: 0.3rem;
}

.footer li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* exclusivo sobe.html */
.main-sobre {
    padding: 3rem 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-sobre img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    border: solid 0.2rem aliceblue;
    align-self: flex-end;
    margin-right: 0.6rem;
}

.main-sobre .text-apresentacao {
    background-color: aliceblue;
    border-radius: 33px 13px;
    width: fit-content;
    height: fit-content;
    margin-top: 6rem;
}

.main-sobre .text-apresentacao,
.main-sobre .text-apresentacao p {
    text-align: center;
    padding: 1.3rem 0.5rem;
    font-weight: 300;
}

.main-sobre .text-apresentacao a {
    color: black;
}

.main-sobre .text-apresentacao a:hover {
    text-decoration: underline;
    cursor: pointer;
}